.bike{
    border: 1px solid gray;
    border-radius: 3px;
    background-color: lightGray;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 230px;
    margin-right: 10px;
}
.divStyle{
    border: 1px solid rgb(215, 218, 43);
    border-radius: 3px;
    background-color: rgb(231, 118, 12);
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: center;
    width: 230px;
    margin-top: 10px;
    margin-right: 10px;
    
}
.finalPlace{
    margin-left: 100px;
    margin-top: 100px;
    width: 250px;
    height: 320px;
    border:1px solid lightGray;
    border-radius: 10px;
    background-color:rgb(200, 203, 207)
    
}